@model PagedList.IPagedList<BarefootPower.Models.InboundMessage>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Inbound Messages</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ShortCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="messageColumn">
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of (@Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))