@model IEnumerable<BarefootPower.Models.SaleRegistration>

@{
    ViewBag.Title = "Index";
}

<h2>Recorded Sales</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submit" value="export" class="btn btn-default" />
        </div>
    </div>
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Agent")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Agent.FullName, "Details", "Agents", new { id = item.Agent.Id }, null )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Present)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
                    }

</table>
