@model IEnumerable<BarefootPower.Models.SaleRegistration>

@{
    ViewBag.Title = "Sales";
}

<h2>Recorded Sales</h2>

<div class="well">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="input-group input-group-sm col-md-2">
            <input type="text" name="groupName" class="form-control" placeholder="Group name" value="@ViewBag.GroupNameFilter" />
        </div>

        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                Between
            </span>
            <input type="datetime-local" name="startDate" class="form-control" value="@ViewBag.StartDateFilter"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                and
            </span>
            <input type="datetime-local" name="endDate" class="form-control" value="@ViewBag.EndDateFilter"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <button type="submit" class="btn btn-info" aria-label="Left Align">
            Filter
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </button>

        <button type="submit" name="submit" value="Export" class="btn btn-info" aria-label="Left Align">
            Export
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
        </button>

    }

</div>


<br />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Agent")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Agent.FullName, "Details", "Agents", new { id = item.Agent.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Present)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }

</table>
