@model IEnumerable<BarefootPower.Models.SaleRegistration>

@{
    ViewBag.Title = "Index";
}

<h2>Recorded Sales</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Agent")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agent.FirstName)
            @Html.DisplayFor(modelItem => item.Agent.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Present)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
        </td>
    </tr>
}

</table>
